/* You can add global styles to this file, and also import other style files */

@import "./styles/forms.less";
@import "./styles/colours.less";
@import "./styles/buttons.less";

html, body { margin: 0; padding: 0}
ul { margin: 0; padding: 0}

* {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

.container {
    padding: 30px;
    display: flex;
    align-items: top;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100vh;
}

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.theme-l5 {
    background-color: @theme-l5 !important;
    color:#000 !important; 
}
.theme-l4 {
    background-color: @theme-l4 !important;
    color:#000 !important; 
}

.theme-l3 {
    background-color: @theme-l3 !important;
    color:#000 !important; 
}

.theme-l2 {
    background-color: @theme-l2 !important;
    color:#000 !important; 
}

.theme-l1 {
    background-color: @theme-l1 !important;
    color:#000 !important; 
}

.theme {
    background-color: @theme !important;
    color:#000 !important; 
}

.theme-d1 {
    background-color: @theme-d1 !important;
    color:#fff !important;
}

.theme-d2 {
    background-color: @theme-d2 !important;
    color:#fff !important;
}

.theme-d3 {
    background-color: @theme-d3 !important;
    color:#fff !important;
}

.theme-d4 {
    background-color: @theme-d4 !important;
    color:#fff !important;
}

.theme-d5 {
    background-color: @theme-d5 !important;
    color:#fff !important;
}

.relative {
    position: relative;
}

.toast {
    position: absolute;
    bottom: 30px;
    left: 35%;
    width: 30%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    &.success {
        background-color: #1e8d26;
        color: #fff;
    }

    &.error {
        background-color: #c25451;
        color: #fff;
    }

    .highlight {
        font-weight: 700;
    }
}

.wrap {
    flex-wrap: wrap;
}