<h1 class="text-4xl font-bold mb-12">Create New {{sport.name}} Tournament</h1>

<div class="w-1/2">
    <div class="mb-4">
        <label for="tournament-name" class="block mb-2">Name</label>
        <input type="text" 
                id="tournament-name" 
                placeholder="Tournament name" 
                class="w-full p-4 border-2 border-green-600 rounded-xl focus:border-green-800 focus:outline-none focus:shadow-md">
    </div>
    <div class="mb-4">
        <label for="tournament-location" class="block mb-2">Location</label>
        <input type="text" 
                id="tournament-location" 
                placeholder="Location" 
                class="w-full p-4 border-2 border-green-600 rounded-xl focus:border-green-800 focus:outline-none focus:shadow-md">
    </div>
    <div class="mb-4">
        <label for="tournament-start-date" class="block mb-2">Start Date</label>
        <input type="text" 
                id="tournament-start-date" 
                placeholder="Start Date" 
                class="w-full p-4 border-2 border-green-600 rounded-xl focus:border-green-800 focus:outline-none focus:shadow-md">
    </div>
    <div class="mb-4">
        <label for="tournament-end-date" class="block mb-2">End Date</label>
        <input type="text" 
                id="tournament-end-date" 
                placeholder="End Date" 
                class="w-full p-4 border-2 border-green-600 rounded-xl focus:border-green-800 focus:outline-none focus:shadow-md">
    </div>

    <div class="mb-4">
        <button class="w-full bg-green-600 text-white rounded-xl py-4 hover:font-bold hover:shadow-md"
                (click)="createTournament()">Create Tournament</button>
    </div>
</div>