<div class="lhs">
    <nav>
        <ul>
            <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
            <li><a routerLink="/admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a></li>
        </ul>
    </nav>
</div>
<div class="rhs">
    <router-outlet></router-outlet>
</div>

<!-- <div class="container">
    <h2>{{title}}</h2>
    <p *ngFor="let sport of sports">
        {{sport.name}}
    </p>

    <p>Selected Sports: {{selectedSport.name}}</p>
</div> -->