<div class="container column-container relative" #sausage>
    <app-admin-breadcrumb [links]="breadcrumbs"></app-admin-breadcrumb>

    <h2>{{sport.name}}</h2>
    
    <h3>Active tournaments</h3>
    <ul>
        <li *ngFor="let tournament of activeTournaments">{{tournament.name}} : {{tournament.formattedStartDate}} - {{tournament.formattedEndDate}}</li>
    </ul>
    
    <h3>Future tournaments</h3>
    <ul>
        <li *ngFor="let tournament of futureTournaments">{{tournament.name}} : {{tournament.formattedStartDate}} - {{tournament.formattedEndDate}}</li>
    </ul>

    <h3>Past tournaments</h3>
    <ul>
        <li *ngFor="let tournament of pastTournaments">{{tournament.name}} : {{tournament.formattedStartDate}} - {{tournament.formattedEndDate}}</li>
    </ul>
</div>