<div class="flex items-center align-center justify-center h-full w-full">
    <div class="border-2 border-green-600 rounded-xl p-8 w-1/3">
        <h1 class="text-4xl mb-6 text-green-600">Login</h1>
        <div class="mb-4">
            <label for="email" class="block mb-2">Email</label>
            <input type="text" 
                    id="email" 
                    placeholder="Email" 
                    class="w-full p-4 border-2 border-green-600 rounded-xl focus:border-green-800 focus:outline-none focus:shadow-md">
        </div>

        <div class="mb-4">
            <label for="password" class="block mb-2">Password</label>
            <input type="password" 
                    id="password" 
                    placeholder="Password" 
                    (keyup.enter)="login()"
                    class="w-full p-4 border-2 border-green-600 rounded-xl focus:border-green-800 focus:outline-none focus:shadow-md">
        </div>

        <div class="mb-4">
            <button class="w-full bg-green-600 text-white rounded-xl py-4 hover:font-bold hover:shadow-md"
                    id="login-button"
                    (click)="login()">Login</button>
        </div>

        <div>
            <a class="cursor-pointer underline" routerLink="/account/create-account">Or Create an Account instead</a>
        </div>
    </div>
</div>