<div class="text-xl cursor-pointer mb-4">
    <div routerLink="/sports/{{sportId}}/tournaments" class="flex flex-row items-center">
        <span class="font-material-icons mr-2">arrow_back</span>
        back
    </div>
</div>

<h1 class="text-4xl mb-12">{{tournament.name}}</h1>

<h2 class="text-3xl mb-6">Matches</h2>

<div class="flex flex-row flex-wrap">
    <div *ngFor="let match of matches" class="px-8 w-1/3 mb-8 h-44">
        <div routerLink="/sports/{{sportId}}/tournaments/{{tournament.id}}"
            class="h-44 border border-green-600 rounded-xl hover:bg-green-600 hover:text-white cursor-pointer">
            <div class="w-full text-center text-xl">
                <div class="py-2 rounded-t-xl" [ngStyle]="{'background-color': match.homeTeam?.primaryColour, 'color': match.homeTeam?.secondaryColour}">
                    {{match.homeTeam?.name}}
                </div>
                vs
                <div class="py-2" [ngStyle]="{'background-color': match.awayTeam?.primaryColour, 'color': match.awayTeam?.secondaryColour}">
                    {{match.awayTeam?.name}}
                </div>
                <p class="mt-4">Pitch {{match.pitch}} - {{match.time | date: 'dd-MM-yyyy hh:mm'}}</p>
            </div>
        </div>
    </div>

    <div class="px-8 w-1/3 mb-8 h-44">
        <div routerLink="/sports/{{sportId}}/tournaments/{{tournament.id}}/matches/create"
            class="h-44 flex items-center justify-center border border-green-600 rounded-xl hover:bg-green-600 hover:text-white cursor-pointer">
            <div class="font-material-icons w-full text-center text-4xl mb-4">add</div>
        </div>
    </div>
</div>