<div class="text-xl cursor-pointer mb-4">
    <div routerLink="/sports/{{sport.id}}" class="flex flex-row items-center">
        <span class="font-material-icons mr-2">arrow_back</span>
        back
    </div>
</div>

<h1 class="text-4xl mb-12">{{sport.name}} - {{team.name}}</h1>

<div class="w-1/2">
    <div class="mb-4">
        <label for="team-name" class="block mb-2">Team name</label>
        <input type="text" 
                id="team-name" 
                placeholder="Team name" 
                value="{{team.name}}"
                class="w-full p-4 border-2 border-green-600 rounded-xl focus:border-green-800 focus:outline-none focus:shadow-md">
    </div>
    <div class="mb-4">
        <label for="team-logo" class="block mb-2">Team logo url</label>
        <input type="text" 
                id="team-logo" 
                placeholder="Team logo url" 
                value="{{team.logoUrl}}"
                class="w-full p-4 border-2 border-green-600 rounded-xl focus:border-green-800 focus:outline-none focus:shadow-md">
    </div>
    <div class="mb-4">
        <label for="team-primary-colour" class="block mb-2">Primary colour</label>
        <input type="text" 
                id="team-primary-colour" 
                placeholder="Team primary colour" 
                value="{{team.primaryColour}}"
                class="w-full p-4 border-2 border-green-600 rounded-xl focus:border-green-800 focus:outline-none focus:shadow-md">
    </div>
    <div class="mb-4">
        <label for="team-secondary-colour" class="block mb-2">Secondary colour</label>
        <input type="text" 
                id="team-secondary-colour" 
                placeholder="Team secondary colour" 
                value="{{team.secondaryColour}}"
                class="w-full p-4 border-2 border-green-600 rounded-xl focus:border-green-800 focus:outline-none focus:shadow-md">
    </div>

    <div class="mb-4">
        <button class="w-full bg-green-600 text-white rounded-xl py-4 hover:font-bold hover:shadow-md"
                (click)="updateTeam()">Update Team</button>
    </div>
</div>